.row
  .small-12.columns
    <br><br><br>
    if ( $contacts == [] )
      h2 Заполните свою записную книжку!

  .small-12.columns
    ul.small-block-grid-3.medium-block-grid-6.large-block-grid-8
      each contact in contacts
        li: .panel
          a(href="#modal-read-user", data-reveal-id="modal-read-user", data-id-user=contact.id)
            img(
              src="assets/images/placeholder.gif"
              class=contact.avatar
              style="background-color': #{color}"
            )
          div.hide-text= contact.name
          div.hide-text= contact.surname

//- .avatar
