// modal read user
#modal-read-user.reveal-modal.large(data-reveal)
  .row.collapse
    .small-12.columns
      h4 Инфо о контакте

  form(name="read-user", action="/contact/update/", method="post")
    //- контейнер, куда будет вставляться ajax с запрашиваемым контактом
    #read-user
    // ############ button ###############
    .row.collapse
      .small-12.medium-6.columns
        a#update.button.success(href="#", style="width: '100%'") Редактировать
        input.button(type="submit", style="width: 100%, display: none", value="Изменить")
      .small-12.medium-6.columns
        a#delete.button.alert(href="/contact/delete/", style="width: 100%") Удалить

  // ############ close modal ###############
  a.close-reveal-modal(aria-label="Close") &#215;
