// modal create user

#modal-create-user.reveal-modal.large(data-reveal)

  .row.collapse
    .small-12.columns
      h4 Добавить новый контакт

  form(name="create-user", action="api/contacts/create", method="post")

    //- ############# avatar ################
    #avatar.row
      .small-12.columns
        ul.small-block-grid-4.medium-block-grid-8.large-block-grid-12
          li
            label
              input(type="radio", name="avatar", value="avatar-1", checked)
              img.avatar-1(src="assets/images/placeholder.gif")
          - $i = 1
          - while ( $i++ < 24 )
            li: label
              input(type="radio", name="avatar", value="avatar-#{$i}")
              img(src="assets/images/placeholder.gif", class="avatar-#{$i}")

    //- ############# name ################
    .row.collapse
      .small-1.columns
        span.prefix: i.fa.fa-user.fa-fw
      .small-11.medium-3.columns
        input(name="name", type="text", placeholder="Имя", required)

      .small-1.show-for-small.columns
        span.prefix: i.fa.fa-user
      .small-11.medium-4.columns
        input(name="surname", type="text", placeholder="Фамилия")

      .small-1.show-for-small.columns
        span.prefix: i.fa.fa-user
      .small-11.medium-4.columns
        input(name="patronymic", type="text", placeholder="Отчество")

    //- ############# phone ###############
    .phone-container
      .row.phone-item.collapse

        .small-1.columns
          span.prefix: i.fa.fa-phone
        .small-10.medium-10.columns
          input(name="number[]", type="tel", placeholder="Телефон", style="width:100%")

        .small-1.columns
          a.button.postfix.success.add(href="#"): i.fa.fa-plus

    //- ############# street ##############
    .row.collapse
      .small-12.medium-6.columns
        .row.collapse

          .small-1.medium-2.columns
            span.prefix: i.fa.fa-map-marker
          .small-11.medium-10.columns
              label
                select(name="cites", required)
                  option(value="") ...
                  each city in cites
                    option(value=city.id)= city.name

      .small-12.medium-6.columns
        .row.collapse
          .small-1.medium-2.columns
            span.prefix: i.fa.fa-street-view
          .small-11.medium-10.columns
            label
              select(name="streets", required)
                option(value="") ...

    //- ############# date ################
    .row.collapse
      .small-1.columns
        span.prefix: i.fa.fa-calendar
      .small-11.columns
        input.datetimepicker(name="bith", type="date")

    //- ############ button ###############
    .row.collapse
      .small-12.medium-4.columns
        input.button(type="submit", value="Добавить", style="width:100%")

  //- ############ close modal ###############
  a.close-reveal-modal(aria-label="Close") &#215;

// /modal create user
