div.fixed
  nav.top-bar(aria-hidden="true", data-topbar)
    ul.title-area
      li.name
        h1: a(href="/")
          i.fa.fa-leanpub
          span Записная книжка
      li.toggle-topbar.menu-icon: a(href="#"): span
    include top-bar


