doctype
html.no-js(lang="ru")
  head: block head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="assets/css/app.css")
    script(src="assets/js/vendor/modernizr.js")

  body: block body
    block content
      != content

    script(src="assets/js/app.js")