mixin menu(menu, state)
  each val, index in menu
    if (state==index)
      li.active: a(href='#{index}.html')
        span= val
        block
    else
      li
        a(href='#{index}.html'): span= val
        block