-
  title = 'Записная книжка'
  error = ''
  cites = [
  ]
  color = [
    '#ff386a', '#85bbeb', '#68c496', '#b34d1f', '#ffd16d', '#ffc55d',
    '#c34934', '#487093', '#ffd16d', '#ff690f', '#b6dbfb', '#4d1b02',
    '#ffa8bd'
  ]

-
  contacts = [
  ]