body {
    background:#ebebeb;
    background-image: url('data:image/gif;base64,R0lGODdhFAAUAIACAOfn5/Hx8SwAAAAAFAAUAAACJoSPiaGt7CKAstGaLj56T5+Bi8iRRrehmFqxkhvBjmyZU4Dn+r4XADs=');
}

.hide-text {
    width:auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
    display: block;
}

li {
  line-height: 1.3;
}

.postfix.button {
  padding: 0;
}
